@model Utils.ViewPlaylist

@{
    ViewBag.Title = "Details";
    int nTrack = Model.Tracks.Count;
    List<SelectListItem> itens = new List<SelectListItem>();
    for (int i = 1; i <= nTrack;i++ )
    {
        itens.Add(new SelectListItem { Selected=false, Text=i+"", Value=i+"" }); 
    }
}

<h2>Details</h2>

<fieldset>
    <legend>Playlist Fields</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Owner</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">Track List</div>
    @if (Model.Tracks.Count>0){
        <table>
            <thead>
                <tr>
                    <td>#</td><td>Track Name</td><td>Change Track Order</td><td></td>
                </tr>
            </thead>
            <tbody>
            @foreach (var track in Model.Tracks){
                <tr>
                    <td><div class="display-field">@track.Key</div></td>
                    <td><div class="display-field">@track.Value.Name</div></td>
                    <td>
                        <div class="display-field">
                            @using (Html.BeginForm("ChangeTrackNumber","Playlist",FormMethod.Post)){
                                @Html.HiddenFor( item => item.Id)
                                @Html.DropDownList("newTrackNumber", itens)
                                @Html.InputButton("ChangeTrack","Change")
                            }
                        </div>
                    </td>
                    <td> @using (Html.BeginForm("Remove","Playlist",FormMethod.Post)) {
                            @Html.Hidden("id",Model.Id)
                            @Html.Hidden("href",track.Value.Href)
                            @Html.InputButton("Remove","Remove")
                    } </td>
                </tr>
            } </tbody>
        </table>
    }else{
        <div class="display-field">No Tracks Yet </div>
    }
</fieldset>

    @Html.PlaylistPlayer(Model.Name, Model.Tracks.Select(track=>track.Value.Href ).ToArray())
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
