@model Utils.ViewPlaylist

@{
    ViewBag.Title = "Permissions";
    IEnumerable<SelectListItem> users = ViewBag.Users;
}

<h2>Permissions</h2>

    <div class="display-label">Playlist Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
<table>
    <tr>
        <th>
            User Name
        </th>
        <th>
            Write
        </th>
        <th>
            Read
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach( var item in Model.Shared){
        <tr>
            <td>
                <div class="editor-label">
                    @Html.DisplayFor(modelItem => item.Key)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayFor(modelItem => item.Value.Write)
                </div>
            </td>
            <td>
                <div class="editor-label">
                    @Html.DisplayFor(modelItem => item.Value.Read)
                </div>
            </td>
            <td>
                @Html.ActionLink("Grant all", "Permission", new { id=Model.Id,name=item.Key,read=true,write=true })
                @Html.ActionLink("Change write access", "Permission", new { id = Model.Id,name=item.Key,read=item.Value.Read,write=!item.Value.Write }) |
                @Html.ActionLink("Change read access", "Permission", new { id = Model.Id,name=item.Key,read=!item.Value.Read,write=item.Value.Write }) |
                @Html.ActionLink("Remove", "Permission", new { id=Model.Id,name=item.Key,read=false,write=false })
            </td>
        </tr>
    }
</table>
<br />
    <h3> Add new user</h3>
    @using (Html.BeginForm()){
        @Html.Hidden("id", new { id = Model.Id });
        <table>
            <tr>
                <th>User Name</th>
                <th>Write Permissions</th>
                <th>Read Permissions</th>
            </tr>
            <tr>
                <th>@Html.ListBox("newUser",users)</th>
                <th>@Html.Label("Grant") @Html.RadioButton("writePermission", "Grant", true) @Html.Label("Deny")@Html.RadioButton("writePermission", "Deny", false)</th>
                <th>@Html.Label("Grant") @Html.RadioButton("readPermission", "Grant", true)  @Html.Label("Deny")@Html.RadioButton("readPermission", "Deny", false)</th>
            </tr>
        </table>
        <input class="button" id="submit" type="submit" value="Permission"/>
    }
<p>
    @Html.ActionLink("Back to Details", "Details",new { id = Model.Id })
</p>
