@model Utils.ViewPlaylist

@{
    ViewBag.Title = "Permissions";
    IEnumerable<SelectListItem> users = ViewBag.Users;
}

<h2>Permissions</h2>

    <div class="display-label">Playlist Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Existent Permissions</div>
<table>
    <thead>
        <tr>
            <td>
                <div class="display-label">User Name</div>
            </td>
            <td>
                <div class="display-label">Write</div>
            </td>
            <td>
                <div class="display-label">Read</div>
            </td>
            <td>
                <div class="display-label">Actions</div>
            </td>
        </tr>
    </thead>
    @foreach( var item in Model.Shared){
        <tr>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Key)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Value.CanWrite)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Value.CanRead)
                </div>
            </td>
            <td>
                @Html.ActionLink("Grant all", "Permission", new { id=Model.Id,name=item.Key,read=true,write=true })
                @Html.ActionLink("Change write access", "Permission", new { id = Model.Id,name=item.Key,read=item.Value.CanRead,write=!item.Value.CanWrite }) |
                @Html.ActionLink("Change read access", "Permission", new { id = Model.Id,name=item.Key,read=!item.Value.CanRead,write=item.Value.CanWrite }) |
                @Html.ActionLink("Remove", "Permission", new { id=Model.Id,name=item.Key,read=false,write=false })
            </td>
        </tr>
    }
</table>
<br />
    <h3> Add new user</h3>
    @using (Html.BeginForm("Permission","Playlist",FormMethod.Post)){
        @Html.Hidden("id", new { id = Model.Id });
        <table>
            <tr>
                <th>User Name</th>
                <th>Write Permissions</th>
                <th>Read Permissions</th>
            </tr>
            <tr>
                <th>@Html.DropDownList("name",users)</th>
                <th>@Html.Label("Grant") @Html.RadioButton("writePermission", true, true) @Html.Label("Deny")@Html.RadioButton("writePermission", false, false)</th>
                <th>@Html.Label("Grant") @Html.RadioButton("readPermission", true, true)  @Html.Label("Deny")@Html.RadioButton("readPermission", false, false)</th>
            </tr>
        </table>
        <input class="button" id="Permission" type="submit" value="Save" @(users.Count()==0?"disabled":"") />
    }
<p>
    @Html.ActionLink("Back to Details", "Details",new { id = Model.Id })
</p>
