@model Utils.ViewTrack

@{
    ViewBag.Title = "Track";
    IEnumerable<SelectListItem> playlists = ViewBag.Playlists;
}

<h2>Track</h2>

<fieldset>
    <legend>Track Details</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Duration</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">Artists</div>
    <div class="display-field">
    <ul>
        @foreach(var artist in Model.Artists){
                <li> @(artist.Key!=null?Html.ActionLink(artist.Value,"Artist",new { href=artist.Key}):Html.Label("",artist.Value)) </li>
        }
    </ul>
    </div>

    <div class="display-label">Album</div>
    <div class="display-field">
        @(Model.Album.Key!=null?Html.ActionLink(Model.Album.Value,"Artist",new { href=Model.Album.Key}):Html.Label("",Model.Album.Value))
    </div>
</fieldset>
    
    @Html.TrackPlayer(Model.Href)
    <!-- TODO: wouldnt be a bad idea to place this in a partial-->
    @using (Html.BeginForm()){
        @Html.Hidden("href", new { href=Model.Href });
        @Html.ListBox("id",playlists)
        <input class="button" id="Add" type="submit" value="Add to Playlist"/>
    }
<p>
    @Html.ActionLink("Back to Search", "Query")
</p>
