@model IEnumerable<Utils.ViewTrack>

@{
    ViewBag.Title = "TrackList";
}

<h2>List of Tracks</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Artist
        </th>
        <th>
            Album
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.Label(Utils.TimeParse.Seconds(item.Duration))
        </td>
        <td>
            @item.Artists.FirstOrDefault().Value
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Value)
        </td>
        <td>
            @Html.ActionLink("Details", "Track", new { href = item.Href })
        </td>
    </tr>
}
</table>

<p> @Html.ActionLink("Back to Search","Query")</p>
