@{
    ViewBag.Title = "Delete User";
    List<string> users = ViewBag.Users;
}

<h2>Delete User</h2>

<fieldset>
    <legend>User Info</legend>

    @using (Html.BeginForm()){
        @Html.ValidationSummary(true)
        <div class="display-label">User to Delete</div>
        <div class="editor-field">
            @Html.DropDownList("user", users.Select(u => new SelectListItem { Text=u, Value=u }))
            @Html.ValidationMessage("user", new{ id="valid-user" })
        </div>

        <p>
            @Html.InputButton("deleteButton","Delete")
        </p>
    }
</fieldset>

@Html.ActionLink("Back to CP","UserCP","Home")