@model AppHarbor.Models.PromoteAccountModel
@{
    ViewBag.Title = "Promote";
    List<string> users = ViewBag.Users;
    List<string> roles = ViewBag.Roles;
}

<h2>Promote</h2>

<fieldset>
    <legend>User Info</legend>

    @using (Html.BeginForm("Promote","Account", FormMethod.Post)){
        @Html.ValidationSummary(true)
        <div class="display-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model=>model.Username)
            @Html.ValidationMessageFor(model=>model.Username)
        </div>
        
        <div class="display-label">
            @Html.LabelFor(model => model.Role)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Role)
            @Html.ValidationMessageFor(model => model.Role)
        </div>

        <p>
            @Html.InputButton("Promote")
        </p>
    }
</fieldset>

@Html.ActionLink("Back","Index","Home")
