@{
    ViewBag.Title = "UserCP";
    string Email = ViewBag.Email;
}

<h2>User Control Panel</h2>

    
    @Html.ImageFromUrl(Utils.GravatarTransformer.GetUserImageUrlFromEmail(Email))
    <ul>
        <li>@Html.ActionLink("Edit Account","Edit")</li>
        <li>@Html.ActionLink("Change password","ChangePassword")</li>
        </ul>
    <p>
        @using(Html.BeginForm("Erase","Account",FormMethod.Post))
        {
            @Html.InputButton("eraseButton","Erase Account")          
        }
    </p>
    
<p>
    @Html.ActionLink("Back to Home","Index","Home")
</p>
